{% extends "testapp/base.html" %}
{%block content%}
<table class="table table-striped table-hover table-bordered" style="table-layout:fixed; overflow-y:none;"  >
  <thead class='bg-coral'>
    <tr>
      <th scope="col" style="width:250px">Name</th>
      <th scope="col" style="width:250px">Visitor Aadhar Number</th>
      <th scope="col" style="width:250px">Prisoner Aadhar Number</th>
      <th scope="col" style="width:250px">Date Of Visit</th>
      <th scope="col" style="width:250px">Image</th>
      </tr>
  </thead>
  <tbody>
    {% for i in a %}
    <tr>
      <td style='word-wrap:break-word'>{{i.name}}</td>
      <td style='word-wrap:break-word'>{{i.visitor_aadhar_no}}</td>
      <td style='word-wrap:break-word'>{{i.prisoner_aadhar_no}}</td>
      <td style='word-wrap:break-word'>{{i.date_of_visit}}</td>
      <td style='word-wrap:break-word'><a href="{{i.image.url}}">Show Image</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock content%}
